/assets/geometry/Space Suit SDK/
workspace.xml
/assets/geometry/spacesuit.js
/js/lib/three.js/utils/exporters/spacesuit.js
/js/lib/three.js/utils/exporters/spacesuit.obj
/.idea/workspace.xml
.DS_Store
*_t.json