.oritron15 {
  font-family: 'Orbitron', serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1.2;
}