body {
    background: #FDFDFD;
    color: #333;
    height: auto;
    padding-bottom: 20px;

	font-family: 'Jura', serif;
    font-weight: 200;
    text-shadow: none;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.2;
}
a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 0;
    text-align: center;
}

h2 {
    padding-top: 20px;
    text-align: center;
}

p {
    /*overflow: hidden;*/
    text-align: center;
}

.grayBorder {
	border: 1px solid #666;
    padding: 5px 0;
}

.magentaBorder {}

.margin_top_1 {
	  margin-top:60px
}
.margin_bottom_1 {
	  margin-bottom:60px
}

.padding_top_1  {
	  padding-top:60px
}
.padding_bottom_1 {
	  padding-bottom:60px
}


.JURA_normal_36 {
    font-size: 36px;
    font-style: normal;
}

.doMore {
    font-size: 12px;
    cursor: pointer;
}


.levelThumbnail {
    border: 1px solid #666;
    margin-left: -1px;
    margin-right: 19px;
	margin-bottom: 20px;
    width: 19px;
    height: 80px;
    font-size: 16px;
    cursor: pointer;
}

.levelThumbnail p {
    border: none;
    padding: 0;
}

.levelThumbnailEOL {
    margin-right: 0;
    margin-left: -2px;
}

.levelCurrent {

}

.levelCompleted {

}

.levelThumbnailInner {
	position: absolute;
	top: 0;
	left: 0;
    margin: auto;
}

.levelAvailable {
	background-image: url(../images/page/12_col_stripes.gif);
}

.levelUnavailable {

}

.headerGrid {
	/*background-image: url(../images/page/12_col_stripes.gif);*/
	height: 2px;
	margin-bottom: 20px;
}

.container_12,
.container_16,
.container_24 {
    /*background-color: #eaeaea;*/
    background-repeat: repeat-y;
    margin-bottom: 20px;
}

.container_12 {
    /*background-image: url(../images/page/12_col_stripes.gif);*/
}

.container_16 {
    /*background-image: url(../img/16_col.gif);*/
}

.container_24 {
    /*background-image: url(../img/24_col.gif);*/
}

.lineBorder {
    border: 1px solid #666;
}

#gameContainer {
    width: 1000px;
	height: 500px;
    border: 1px solid #666;
    margin-left: -20px;
}

#editorContainer {
    width: 1000px;
    border: 1px solid #666;
    margin-left: -20px;
    margin-top: 2px;
    margin-bottom: 20px;
}

#HUDTime {
    padding: 5px 0;
    text-align: center;
}

#levelClipboard {
    font-family: sans;
	font-size: 1px;
	padding: 5px;
}

:focus {
    outline: 0;
}


.flash_notice {
	font-size: 16px;
	text-align: left;
	margin-left: -225px;
	margin-top: 72px;
	height: 60px;
	width: 280px;
	position: absolute;
	border: 1px solid #666;
	padding-left: 5px;
}