body {
    background: #FDFDFD;
    color: #333;
    height: auto;
    padding-bottom: 20px;

    /*JURA FONT*/
    font-family: 'Jura', serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    text-shadow: none;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.2;
}
a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 0;
    text-align: center;
}

h2 {
    padding-top: 20px;
    text-align: center;
}

p {
    border: 1px solid #666;
    overflow: hidden;
    padding: 5px 0;
    text-align: center;
}

.levelThumbnail {
    border: 1px inset #666;
    margin-left: -1px;
    margin-right: 19px;
    width: 19px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
}

.doMore {
    font-size: 12px;
    cursor: pointer;
}

.levelThumbnail {
	text-align: center;
	padding-top: 5px;
}
.levelThumbnail p {
    border: none;
    padding: 0;
}

.levelThumbnailEOL {
    margin-right: 0;
    margin-left: -2px;
    /*background-color: red;*/
}

.container_12,
.container_16,
.container_24 {
    /*background-color: #eaeaea;*/
    background-repeat: repeat-y;
    margin-bottom: 20px;
}

.container_12 {
    background-image: url(../images/page/12_col.gif);
}

.container_16 {
    /*background-image: url(../img/16_col.gif);*/
}

.container_24 {
    /*background-image: url(../img/24_col.gif);*/
}

.lineBorder {
    border: 1px solid #666;
}

#gameContainer {
    width: 1000px;
    border: 1px solid #666;
    margin-left: -20px;
}

#editorContainer {
    width: 1000px;
    border: 1px solid #666;
    margin-left: -20px;
    margin-top: 2px;
    margin-bottom: 20px;
}

#HUDTime {
    padding: 5px 0;
    text-align: center;
}

:focus {
    outline: 0;
}